<!-- Services Section -->
    <section id="offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading"><h2 style="color:Orange;">All About Asobo</h2></div>
                    <br>
                    <br>
                    <h3 class="section-subheading text-center" >Asobo app is a platform for training and learning through customized quizzes developed by trainers and subject matter expert content creators. 
The focus lies on personalization aspect of learning by gamifying the learning process through interactive quizzes and high-quality questions. The app provides numerous features that combine customization, ease of access and users-friendliness for both students and trainers’/content creators at the same time. What adds fun to the experience is a quick feedback after each question and after each quiz. Besides, you can pause quizzes and learn at your own pace.
So, the next time you want to challenge your buddies why not learn a new idea and break your old record.
</h3>
                </div>
            </div>
<hr>
         <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading"><h2 style="color:Orange;">Click Here to Download</h2></div>
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <center><div class="col-md-6">
                    <span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://apps.apple.com/us/app/asobo/id1313787813"><i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <a class="service-heading" target="_blank"><h4>App Store</h4></a>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://play.google.com/store/apps/details?id=com.mnkinfotech.asobo"><i class="fa fa-google fa-stack-1x fa-inverse"></i>
                    </span>
                    <a class="service-heading" target="_blank"><h4>Play Store</h4></a>
                </div></center>
            
            </div>
        </div>
    </section>
