<!-- Services Section -->
    <section id="services" class="bg-light-gray">  

    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading"><h2 style="color:Orange;">E-Learning</h2></div>
                    <h3 class="section-subheading " text-justify >Asobo offers evolving E-Learning capabilities, across the board, backed up by advanced Cloud Ecosystem.</h3>
                </div>
            </div>
            <div class="text-center">
           <a  class="page-scroll btn btn-xl" style="color:white;">APPLICATIONS</a> 
       </div>
       <br>
       <br>
       <br>

<!--first row -->
           <center><div class="row">
                
                <div class="col-md-6">
                    <h4 class="service-heading" ><b>• Certification </b></h4>
                </div>
                
                <div class="col-md-6">
                    <h4 class="service-heading" text-alignment-left ><b>• Social On-boarding</b></h4>
                </div>
       </div></center>

<!-- second row --><br>

           <center><div class="row">
                
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Sales Team & Performance</b></h4>
                </div>
              
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Sales Enablement Programs</b></h4>
                </div>
       </div></center>
<!-- third row --><br>
           <center><div class="row">
                
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Products & Services Training</b></h4>
                </div>
              
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Big Data Collection & Analytics</b></h4>
                </div>
       </div></center>
       <!-- forth row --><br>
           <center><div class="row">
                
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Event Tracking and Complicance</b></h4>
                </div>
                
                <div class="col-sm-6">
                    <h4 class="service-heading" text-justify><b>• Diversity, Inclusion & Assessment Training</b></h4>
                </div>
       </div></center>
     
<!--Close the container -->
    </div>
    </section>
